@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  /* Photo credit to rawpixel.com */
  background: url(assets/images/gridBackground.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Fraunces", serif;
}

.container {
  background-color: #eff0ef;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  font-weight: 900;
  font-size: 3rem;
}

.balance,
.subtitle-balance {
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

.subtitle {
  margin: 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fcf8f3;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus,
.balance.plus {
  color: #a0e5a0;
}

.money.minus,
.balance.minus {
  color: #eb9c9b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #ed9d98;
  box-shadow: var(--box-shadow);
  font-family: "Fraunces", serif;
  color: #ffffff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 30px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.additional-note {
  font-size: 12px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  color: #333333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #a0e5a0;
}

.list li.minus {
  border-right: 5px solid #eb9c9b;
}

.delete-btn {
  cursor: pointer;
  background-color: #ed9d98;
  font-family: "Fraunces", serif;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/* CSS change for the placeholder text across browsers. */
/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  font-family: "Fraunces", serif;
}

/* Firefox 19+ */
::-moz-placeholder {
  font-family: "Fraunces", serif;
}

/* IE 10+ */
:-ms-input-placeholder {
  font-family: "Fraunces", serif;
}

/* Firefox 18- */
:-moz-placeholder {
  font-family: "Fraunces", serif;
}

/* CSS for the snackbar that is positioned at the bottom-middle of the screen */
#snackbar {
  /* Hidden by default. */
  visibility: hidden;
  /* Sets a default minimum width */
  min-width: 250px;
  /* Divides value of min-width by 2 */
  margin-left: -125px;
  /* Background color */
  background-color: #ffffff;
  /* Text color */
  color: #ed9d98;
  /* Centered text */
  text-align: center;
  /* Rounded borders */
  border-radius: 2px;
  /* Padding */
  padding: 16px;
  /* Sits on top of the screen */
  position: fixed;
  /* Adds a z-index if needed */
  z-index: 1;
  /* Centers the snackbar */
  left: 48.2%;
  /* 30px from the bottom */
  bottom: 80px;
  /* Box shadow */
  box-shadow: var(--box-shadow);
}

/* Shows the snackbar (functionality added with JavaScript) */
#snackbar.show {
  /* Shows the snackbar */
  /* Adds animation: Takes 0.5 seconds to fade in and out the snackbar.*/
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 480px),
  screen and (device-aspect-ratio: 2/3),
  screen and (device-aspect-ratio: 40/71),
  screen and (device-aspect-ratio: 375/667),
  screen and (device-aspect-ratio: 16/9) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  #snackbar {
    /* Sets a default minimum width */
    min-width: 250px;
    /* Divides value of min-width by 2 */
    margin-left: -125px;
    /* Padding */
    padding: 16px;
    /* Centers the snackbar */
    left: 42%;
    /* 30px from the bottom */
    bottom: 80px;
  }
}
